@import "scroll.css";

@font-face {
    font-family: "Rubik Regular";
    src: url(../assets/fonts/Rubik-Regular.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(121, 188, 199);
    font-family: "Rubik Regular", sans-serif;
    font-weight: 600;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main__video-preview_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__video-preview{
    width: 100%;
    list-style-type: none;
    display: flex;
    overflow: scroll;
}
.main__video-preview::-webkit-scrollbar{
    width: 0;
}
