
.main__scroll{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.main__scroll__item{
    position: relative;
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 1.1vw;
    border: 1px solid #b4c9d8;
    border-radius: 50%;
    background-color: white;
}
.main__scroll__item_counter{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll-back{
    opacity: 0;
}
.main__scroll__item_button{
    margin: 0 auto;
    padding: 0;
    width: 65%;
    height: 100%;
    display: block;
    border: none;
    border-radius: 50%;
}
.main__scroll__item_button_tooltip{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 110%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 20%;
    visibility: hidden;
    background-color: #6094d4;
    opacity: 0;
}

#scroll-back:hover, #scroll-forward:hover{
    background-color: #658082;
}
#scroll-back:active, #scroll-forward:active{
    background-color: #117788;
}
