.main__video-preview__video_wrapper{
    position: relative;
    flex-shrink: 0;
    margin: 2% 2%;
    width: 21%;
    padding-top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0 solid #b4c9d8;
    border-radius: 5px;
    background-color: #cddde8;
}


.main__video-preview__video{
    position: absolute;
    top: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: inherit;
    border-radius: inherit;
    background-color: inherit;
    transition: 150ms;
}
.main__video-preview__video:hover{
    outline: none;
    -webkit-transform: scale(1.1, 1.1);
    transition: 150ms;
}

.main__video-preview__video__image{
    height: 40%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.main__video-preview__video__title{
    height: 10%;
    width: 90%;
    padding: 5%;
    text-decoration: none;
    color: #292071;
    overflow: hidden;
    font-weight: 800;
    font-size: 1.1vw;
    line-height: 1.2;
    text-align: center;
    background: rgb(148, 176, 202);
}
.main__video-preview__video__title:hover{
    background-color: #292071;
    color: #b4c9d8;
}
.main__video-preview__video__title__meta-info{
    height: 25%;
    width: 80%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1vw;
    color: #231e4a;
    background: #abc6da;
}
.main__video-preview__video__author{
    height: 5%;
    margin-left: 10%;
    align-self: flex-start;
}
.main__video-preview__video__publish-date{
    height: 5%;
    margin-left: 10%;
    align-self: flex-start;
}
.main__video-preview__video__views{
    height: 5%;
    margin-left: 10%;
    align-self: flex-start;
}
.main__video-preview__video__description{
    height: 15%;
    width: 90%;
    margin-top: auto;
    overflow: hidden;
    padding: 5%;
    font-size: 1vw;
    font-weight: 100;
    word-wrap: break-word;
}

